/* responsive */
.sp640,
.sp420,
.sp360,
.sp{display: none;}
.pc {display: block;}
@media screen and (min-width: 751px) {

}

@media screen and (max-width: 750px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd{font-size: 14px;line-height: 1.6em;}



    #wrapper,
    header,
    #main,
    footer,
    .inner {width: 100% !important;min-width: inherit !important;}
    .inner {box-sizing: border-box;padding: 0 15px;}
    .sp {display: block;}
    .pc {display: none;}
    /*---*/


    /*==========================================================================*/
    /*                               ALL                                        */
    /*==========================================================================*/
    header{padding-bottom: 0}
    header h1{display: none}

    #gnavi{display: none;}
    
    .ttl h3{font-size: 24px;}

    .btn a{width: 290px;}
    /*==========================================================================*/
    /*                               MAIN                                       */
    /*==========================================================================*/
    .inner01{width: 100%;margin: 0 auto;}
    .inner02{width: 100%;margin: 0 auto;}
    .inner03{width: 100%;margin: 0 auto;}
    .inner04{width: 100%;margin: 0 auto;}
    .inner05{width: 100%;margin: 0 auto;}
    .inner06{width: 100%;margin: 0 auto;}
    .inner07{width: 100%;margin: 0 auto;}
    .inner08{width: 100%;margin: 0 auto;}
    .inner09{width: 100%;margin: 0 auto;}
    .inner10{width: 100%;margin: 0 auto;}
	
	
	.section_01{display: none;}
	
	.contact{padding: 40px 30px;}
	.contact_bx{display: block;}
	.contact_bx .contact_item{width: 100%;margin: 0 auto;}
	.contact_bx .contact_item:nth-child(1){padding-top: 0;width: 100%;margin-right: 0;}
	.contact_bx .contact_item:nth-child(2){width: 100%;margin-right: 0;}
	.contact_bx .contact_item:nth-child(3){width: 100%;margin-right: 0;}
	.contact_bx .contact_item:last-child{width: 100%;}
	.treatment{padding: 70px 0;}
	.treatment_bx01{margin-top: 0;}
	.treatment_l{width: 100%;height: auto;margin-right: 0;background: none;}
	.treatment_r{width: 100%;margin-right: 0;}
	.treatment_bx02_01{width: 100%;display: block;}
	.treatment_bx02_01 dt{width: 100%;margin-right: 0;}
	.treatment_bx02_01 dd{width: 100%;font-size: 13px;padding: 0 30px;}
	.disjointed_bx{display: block;}
	.disjointed_l{width: 100%;display: inline-flex;flex-direction: column;padding: 0 30px;}
	.disjointed_it:nth-child(1){order: 1;}
	.disjointed_it:nth-child(2){order: 3;}
	.disjointed_it:nth-child(3){order: 2;}
	.disjointed_r{width: 100%;}
	.disjointed_r_bx_ct{display: block;}
	.disjointed_r_it{width: inherit;height: inherit;background: none;}
	.disjointed_r_bx .disjointed_r_it:nth-child(1){width: 100%;max-width: 100%;margin: 0;}
	.orthodontic_txt{max-width: 100%;font-size: 13px;}
	.orthodontic_bx02{display: block;}
	.orthodontic_bx02_it{width: 100%;padding: 0;}
	.orthodontic_bx02_it:nth-child(1){padding:30px 20px;}
	.orthodontic_bx02_it:nth-child(2){padding: 0;}
	.reason01_ct01{display: block;margin-bottom: 30px;}
	.reason01_l{width: 100%;margin-left: 0;margin-right: 0;}
	.reason01 .reason01_r{width: 100%;height: auto;background: none;}
	.reason01_ct01 .reason01_it:nth-child(1), .reason01_ct01 .reason01_it:nth-child(2), .reason01_ct01 .reason01_it:nth-child(4){width: 100%;}
	.reason01_ct01 .reason01_it:nth-child(3){position: inherit}
	.reason01_bx02{width: 100%;display: inherit;}
	.reason01_bx02 .reason01_bx02_l{width: 100%;margin-right: 0;}
	.reason01_bx02 .reason01_bx02_r{width: 100%;max-width: 100%;}
	.reason02_logo{display: none;}
	.reason02_logo img{width: 100%;height: auto;}
	.reason02_ct02{display: block;margin-bottom: 30px;}
	.reason02_ct02 .reason02_l{width: 100%;margin-right: 0;height: auto;background: none;}
	.reason02_bx02{width: 100%;display: block;}
	.reason02_bx02 .reason02_bx02_l{width: 78%;margin:0 auto 20px auto;}
	.reason02_txt{max-width: 100%;}
	.reason02_ct02 .reason02_r{margin-right: 0;}
	.reason02_bx02 .reason02_bx02_r{width: 100%;padding-left: 0;}
	.reason03{margin-top: 50px;padding: 0 0;}
	.reason03_ct{display: block;}
	.reason03_l{margin-right: 0;padding-left: 0;}
	.reason03_ct .reason03_it:nth-child(1), .reason03_ct .reason03_it:nth-child(2), .reason03_ct .reason03_it:nth-child(4){width: 100%;}
	.reason03_ct .reason03_it:nth-child(3){position: inherit;}
	.reason03_r{width: 100%;height: inherit;background: none;}
	.reason04_ct{display: block;margin-bottom: 0;}
	.reason04_bx .reason04_l{width: 100%;margin: 0;}
	.reason04_bx .reason04_r{width: 100%;height: inherit;background: none;}
	.reason04_ttl_sub01:before{width: 50px;right: 0;top: inherit;bottom: 0;left: calc(50% - 25px);}
	.reason02_ttl_sub01:before{width: 50px;right: 0;top: inherit;bottom: 0;left: calc(50% - 25px);}
	.reason01_ttl_sub01:before{width: 50px;right: 0;top: inherit;bottom: 0;left: calc(50% - 25px);}
	.reason03_ttl_sub01:before{width: 50px;right: 0;top: inherit;bottom: 0;left: calc(50% - 25px);}
	.reason05_ttl_sub01:before{width: 50px;right: 0;top: inherit;bottom: 0;left: calc(50% - 25px);}
	.reason05_ct{display: block;}
	.reason05:before{content: none;}
	.reason05_it{width: 100%;margin-right: 0;margin-bottom: 60px;padding-top: 30px;}
	.case_txt{max-width: 100%;padding: 0 30px;font-size: 13px;}
	.case_bx_frame{padding:30px 10px;}
	.reason02:before{width: 82%;height: 88%;top:0;}
	.case_it{width: 100%;margin-right: 0;margin-bottom: 30px;}
	.case_it:nth-child(1):before{right: calc(50% - 8px);transform: rotate(90deg);bottom: -23px;top: inherit;}
	.case_info{display: block;max-width: 100%;margin: 0 auto;}
	.case_info_list{width: 100%;}
	.price_txt{max-width: 100%;font-size: 13px;padding: 0 30px;margin: 0 auto 30px auto;}
	.price_bx01{display: block;}
	.price_bx01_l{width: 100%;margin-right: 0;}
	.price_bx01_l:before{right: 0;}
	.price_bx01_r{width: 100%;}
	.price_bx01_bx{display: block;}
	.price_bx01_it:nth-child(1){width: 100%;position: inherit;top: 0;left: 0;transform: none;}
	.price_bx01_it:nth-child(2), .price_bx01_it:nth-child(3), .price_bx01_it:nth-child(4), .price_bx01_it:nth-child(5){width: 100%;display: block;margin: 0;min-height: auto;padding: 15px 0;}
	.payment_ct{display: block;padding: 0 30px;margin-bottom: 30px;}
	.payment_it{width: 100%;margin-right: 0;}
	.greeting_ct{display: block;}
	.greeting_l{width: 100%;margin-right: 0;}
	.greeting_r{width: 100%;}
	.greeting_ttl02{top: 0;left: 0;position: inherit;}
	.invisalign_ls li{width: 100%;margin-right: 0;}
	.mail_open{width: 100%;}
	.open_box{max-width: 100%;}
	.mail_info{width: 100%;}
	.ama_dental_ct .ama_dental_l{width: 100%;margin-right: 0;}
	.ama_dental_ct .ama_dental_r{width: 100%;}
	.ama_dental_ct{width: 100%;display: block;}
	.payment_btn a{width: 100%;font-size: 13px;}
	
	
/*	================================*/
	.treatment_ttl{font-size: 20px;padding: 0 30px;}
	.treatment_r img{max-width: 90%;text-align: left;margin-bottom: 20px;}
	.treatment_txt01{max-width: 100%;padding: 0 30px;font-size: 13px;margin-bottom: 20px;}
	.treatment_bx02_01 dt{text-align: center;margin-bottom: 20px;}
	.treatment_bx02_01 dt img{width: 60%;text-align: center;margin: 0 auto;}
	.treatment_bx02{padding-left: 0;}
	.disjointed_ttl{font-size: 20px;text-align: center;}
	.disjointed_img{margin-bottom: 20px;}
	.disjointed_img img{width: 100%;}
	.disjointed_r_bx{padding: 0 30px;}
	.disjointed_ttl02{font-size: 18px;}
	.disjointed_txt{font-size: 13px;max-width: 100%;}
	.disjointed_txt01{margin-bottom: 40px;}
	.orthodontic_ttl01{font-size: 20px;}
	.orthodontic_ttl01_sub02{font-size: 7px;top: -9px;}
	.orthodontic_bx{padding: 0 30px;}
	
	.orthodontic_ttl02{font-size: 20px;width: 50%;margin-left: auto;margin-bottom: 10px;}
	.orthodontic_list01 li{font-size: 10px;}
	.orthodontic_list01{width: 50%;margin-left: auto;}
	.orthodontic_bx02_it:nth-child(2) .orthodontic_list01{margin-right: auto;}
	.orthodontic_bx03_ttl01{font-size: 35px;}
	.orthodontic_bx03_ttl02{font-size: 17px;}
	.reason01_ttl{font-size: 20px;text-align: center;margin-bottom: 20px;}
	.reason01_ttl_sub{margin-bottom: 20px;text-align: center;}
	.reason01_ttl_sub01{font-size: 15px;text-align: center;padding-bottom: 10px;}
	.reason01_ttl02{font-size: 20px;margin-bottom: 20px;text-align: center;}
	.reason01_it_img{text-align: right;margin-bottom: 20px;}
	.reason01_it_img img{width: 90%;text-align: right;}
	.reason_txt{padding: 0 30px;font-size: 13px;}
	.reason01_bx02 .reason01_bx02_l img{width: 70%;}
	.reason01_bx02 .reason01_bx02_l{text-align: center;margin-bottom: 20px;}
	
	.reason02_ttl_sub{margin-bottom: 20px;text-align: center;}
	.reason02_ttl_sub01{font-size: 15px;text-align: center;padding-bottom: 10px;}
	.reason03_ttl_sub{margin-bottom: 20px;text-align: center;}
	.reason03_ttl_sub01{font-size: 15px;text-align: center;padding-bottom: 10px;}
	.reason04_ttl_sub{margin-bottom: 20px;text-align: center;}
	.reason04_ttl_sub01{font-size: 15px;text-align: center;padding-bottom: 10px;}
	.reason02_ttl02{font-size: 20px;margin-bottom: 20px;text-align: center;}
	.reason03_ttl02{font-size: 20px;margin-bottom: 20px;text-align: center;}
	.reason04_ttl02{font-size: 20px;margin-bottom: 20px;text-align: center;}
	.reason02_it_img{margin-bottom: 20px;}
	.reason02_txt{padding: 0 20px;font-size: 13px;}
	.reason02_it_img img{width: 90%;text-align:left;}
	.reason03_it_img{margin-bottom: 20px;text-align: right;}
	.reason03_it_img img{width: 90%;text-align:right;}
	.reason03_txt, .reason04_txt, .reason05_txt{font-size: 13px;padding: 0 30px;}
	.reason04_it_img{margin-bottom: 20px;text-align: left;}
	.reason04_it_img img{width: 90%;}
	.reason05_ttl_sub{margin-bottom: 20px;text-align: center;font-size: 15px;}
	.reason05_ttl_sub01{font-size: 15px;text-align: center;padding-bottom: 10px;}
	.reason05_ttl02{font-size: 20px;text-align: center;margin-bottom: 20px;}
	.reason05_img{width: 90%;margin: 0 auto 20px auto;}
	.reason05_bx .reason05_it:nth-child(1):before{position: absolute;content: "";width: 82vw;height: 75vw;background: #232e42;top: 0;left: 0;z-index: -1;}
	.reason05_bx .reason05_it:last-child{position: relative;margin-bottom: 0;}
	.reason05_bx .reason05_it:last-child:before{position: absolute;content: "";width: 82vw;height: 75vw;background: #232e42;top: 0;right: 0;z-index: -1;}
	.reason04{margin-bottom: 0px;}
	.reason{padding: 40px 0 0 0;}
	.case_ttl01{font-size: 20px;margin-bottom: 20px;}
	.case_frame{padding: 0 30px;margin-bottom: 30px;}
	.case_num{font-size: 15px;margin-bottom: 7px;}
	.case_ttl02{font-size: 20px;margin-bottom: 8px;}
	.case_sub{font-size: 9px;margin-bottom: 20px;}
	.case_img{width: 45%;margin: 0 auto 10px auto;}
	.case_sub02{font-size: 10px;}
	.case_info_it dt{font-size: 12px;}
	.case_info_it dd{font-size: 12px;}
	.case_info_it{margin-bottom: 15px;}
	.price_ttl01{font-size: 20px;margin-bottom: 20px;}
	.price_bx01{padding: 0 30px;}
	.price_ct01{padding: 40px 25px;margin-bottom: 20px;}
	.price_ct01_note{text-align: center;font-size: 15px;}
	.price_ct01_note_sub{font-size: 15px;text-align: center;width: 100%;}
	.list_price01{max-width: 100%;}
	.list_price01 li{font-size: 13px;margin-right: 20px;}
	.price_txt01_sub01{font-size: 14px;}
	.price_txt01_sub02{font-size: 37px;}
	.price_txt01_sub03{font-size: 15px;padding-left: 5px;}
	.price_txt02{font-size: 13px;margin-bottom: 40px;}
	.price_ico_p{font-size: 28px;}
	.price_item_txt{font-size: 20px;}
	.price_item_sub{font-size: 10px;}
	.price_txt03{font-size: 11px;margin-bottom: 15px;}
	.price_txt04_sub01{font-size: 20px;}
	.price_txt05_sub02{font-size: 50px;}
	.price_txt05_sub01{font-size: 13px;}
	.price_txt04{margin-bottom: 20px;}
	.price_txt04_sub02{font-size: 10px;}
	.price_item{padding: 10px 0;}
	.payment_ttl{font-size: 18px;}
	.payment_fr{padding: 20px 15px;}
	.payment_sub01{font-size: 12px;}
	.payment_it_sub{font-size: 42px;}
	.payment_list_it_ico{font-size: 23px;padding:0;}
	.payment_list_it_sub:before, .payment_list_it_sub:after{font-size: 10px;}
	.payment_it_sub02{font-size: 10px;padding-left: 5px;}
	.payment_list_it_sub{margin: 10px 0;}
	.payment_list_it_sub:before{top: -15px;}
	.payment_list_it_sub:after{bottom: -2px;}
	.payment_txt{font-size: 10px;}
	.payment_ct .payment_it:last-child{margin-top: 20px;}
	.payment_btn{width: 78%;margin: 0 auto;}
	.greeting_ttl{font-size: 20px;}
	.greeting_txt_au{font-size: 13px;}
	.greeting_au_sub02{font-size: 20px;}
	.greeting_au_sub01{font-size: 13px;}
	.greeting_txt{font-size: 13px;padding: 0 30px;}
	.greeting_img{width: 78%;margin: 0 auto 20px auto;}
	.greeting_au, .greeting_txt_au{width: 78%;text-align: right;}
	.greeting_ttl02{font-size: 18.5px;text-align: center;margin-bottom: 20px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*	================================*/
	
	
}

@media screen and (max-width: 560px) {
   
    
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 380px) {
    .btn{padding: 0;width: 100%;box-sizing: border-box}
}

@media screen and (max-width: 360px) {

}