/* responsive */
.sp640,
.sp420,
.sp360,
.sp{display: none;}
.pc {display: block;}
@media screen and (min-width: 751px) {

}

@media screen and (max-width: 750px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd{font-size: 14px;line-height: 1.6em;}



    #wrapper,
    header,
    #main,
    footer,
    .inner {width: 100% !important;min-width: inherit !important;}
    .inner {box-sizing: border-box;padding: 0 15px;}
    .sp {display: block;}
    .pc {display: none;}
    /*---*/


    /*==========================================================================*/
    /*                               ALL                                        */
    /*==========================================================================*/
    header{padding-bottom: 0}
    header h1{display: none}

    #gnavi{display: none;}
    
    .ttl h3{font-size: 24px;}

    .btn a{width: 290px;}
    /*==========================================================================*/
    /*                               MAIN                                       */
    /*==========================================================================*/
    .contact{display: none;}
    .inner01{width: 100%;margin: 0 auto;}
    .inner02{width: 100%;margin: 0 auto;}
    .inner03{width: 100%;margin: 0 auto;}
    .inner04{width: 100%;margin: 0 auto;}
    .inner05{width: 100%;margin: 0 auto;}
    .inner06{width: 100%;margin: 0 auto;}
    .inner07{width: 100%;margin: 0 auto;}
    .inner08{width: 100%;margin: 0 auto;}
    .inner09{width: 100%;margin: 0 auto;}
}

@media screen and (max-width: 560px) {
   
    
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 380px) {
    .btn{padding: 0;width: 100%;box-sizing: border-box}
}

@media screen and (max-width: 360px) {

}