@charset "UTF-8";
@import "base.css";
@import "fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');*/
/*==========================================================================*/
/*//////////////////////////////////////////////////////////////////////////*/
/*//////                                                              //////*/
/*//////                  © Branding Technology inc.                  //////*/
/*//////                                                              //////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*                                                                          */
/*    base.css  --> スタイルの初期設定を行うため、変更しないで下さい。      */
/*    fonts.css --> フォントの初期設定を行うため、変更しないで下さい。      */
/*                                                                          */
/*==========================================================================*/

/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/

/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
	font-size: 180%;
	-webkit-text-size-adjust: none;
	font-weight: 500;
}
img {vertical-align: middle;}
table {width: 100%}
/*p {margin: 0 0 1.5em;}*/
/*div > p:last-child{margin-bottom: 0}*/
*{box-sizing: border-box;outline: none;} 
img{max-width: 100%;flex-shrink: 0}
/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/
html {background: none;}
body {color: #141B2A;font-family:"Noto Sans JP", sans-serif;font-weight: 200;}
/*.inner {width:1200px;margin: 0 auto;}*/
/*#wrapper {min-width:1220px;overflow: hidden}*/
a{text-decoration: none;color: #111;}
a:hover{color: #111;}

p,
dd,
dt,
li,
th,
td{}

/*==========================================================================*/
/*                               Header                                     */
/*==========================================================================*/
header{height: 500px;background: #000}
header h1{position: absolute;top:10px;right: 10px;font-size: 10px;color:#333;letter-spacing: 0.1em;z-index: 3}

nav{z-index: 6;background: #fff;position: relative;}
nav.active{position: fixed;top: 0;left: 0;width: 100%;}
nav .inner{display: flex;padding: 35px 0 0}
nav #logo{}
nav ul{display: flex;margin:15px 35px 0 50px;width: 659px}
nav ul li{line-height: 1.2em;}
nav ul li a{text-align: center;padding: 0 28px 35px;color: #333;position: relative;display: inline-block;}
nav ul li a::before,
nav ul li:last-child a::after{background: #aaa;width: 1px;height: 40px;position: absolute;top: 2px;left: 0;content: ''}
nav ul li:last-child a::after{left: inherit;right: 0;}
nav ul li a span{font-size: 12px;color: #b0618e;display: block;margin-top: 3px;}
nav ul li.sub{position: relative;}
nav ul li.sub ul{width: 250px;background: rgba(176, 97, 142, 0.9);visibility: hidden;opacity: 0;transition: all ease 0.3s;position: absolute;top: 120px;left: 0;flex-direction: column;margin:0 auto;border-radius: 5px;padding: 15px}
nav ul li.sub:hover ul{opacity: 1;visibility: visible;top: 62px;}
nav ul li.sub ul li{}
nav ul li.sub ul li a{height: 60px;width: 100%;display: flex;align-items: center;padding: 0;text-align:left;color: #fff;font-size: 20px;padding-left: 25px;border-bottom: 1px solid #fff}
nav ul li.sub ul li a::before{width: 6px;height: 9px;background: url('../images/ic_gnavi.png') center no-repeat;background-size: cover;top: calc(50% - 4px);}
nav ul li.sub ul li a::after{display: none}
nav ul li.sub ul li:last-child a{border-bottom: none;}
nav .tel{color: #333;margin-top: 11px;}
nav .tel a{color: #333;font-size: 24px;}
nav .tel a img{margin-right: 10px}
nav .tel span{font-size: 12px;display: block;letter-spacing: 0.05em;padding-left: 5px;line-height: 1em;}

#gnavi_sp{position:fixed;top: 60px;right:0;width: 100%;height:calc(100vh - 60px);transition:all ease 0.3s;z-index:1000;overflow:auto;opacity:0;visibility:hidden;background: #8352a5;overflow: auto;border-top: 1px solid #fff}
#gnavi_sp.active{opacity:1;visibility:visible;right:0;}
#gnavi_sp ul{padding:0;box-sizing:border-box;}
#gnavi_sp ul li{position:relative;padding: 0;}
#gnavi_sp ul li a{color:#fcffaa;padding:0 15px;text-decoration:none;display:block;position:relative;box-sizing:border-box;border-bottom: 1px solid #ffff;height: 70px;text-align: center;display: flex;justify-content: center;align-items: center;flex-direction: column-reverse;font-size: 18px;}
#gnavi_sp ul li a span{font-size: 12px;color: #fff;display: block;line-height: 1em;padding: 5px 0 0}
#gnavi_sp ul li.gnavi_sub_sp a::before{width: 0;height: 0;border-style: solid;border-width: 10px 6px 0 6px;border-color: #fff transparent transparent transparent;transition: all ease 0.3s;position: absolute;top: calc(50% - 5px);right: 15px;content: ''}
#gnavi_sp ul li.gnavi_sub_sp a.disable::before{transform:rotate(180deg)}
#gnavi_sp ul li.gnavi_sub_sp ul{width:100%;display:none;padding: 0;border-bottom: 1px solid #fff;}
#gnavi_sp ul li.gnavi_sub_sp ul.open{display:block}
#gnavi_sp ul li.gnavi_sub_sp ul li{background:#a85a89;padding:0 15px;border-bottom:1px solid #fff}
#gnavi_sp ul li.gnavi_sub_sp ul li:last-child{border-bottom: none;}
#gnavi_sp ul li.gnavi_sub_sp ul li a{color: #fff;background: none;border:none;padding:0;height: 60px;font-size: 16px;}
#gnavi_sp ul li.gnavi_sub_sp ul li a::before{display: none;}
#gnavi_sp ul li:first-child a span{padding-top: 0}
#gnavi_sp p{text-align:center;}
#gnavi_sp p a{text-align: center;color:#8352a5;width: 290px;height: 60px;display:flex;justify-content: center;align-items: center;margin:30px auto;font-size: 16px;background: #fff;border-radius: 5px;}
#gnavi_sp p a img{display:inline-block;max-width:14px;vertical-align:middle;margin-right:10px;margin-top:2px}

.btn_open{width: 60px;height:60px;margin: 0;position: absolute;top: 0px;right: 0;}
.btn_side{display:block;cursor:pointer;width:100%;height:100%;text-align:center;z-index:9999;position:relative;margin:0 auto;position:absolute;border-radius:0}
.btn_side span{display:block;position:absolute;height: 2px;width:15px;background:#8352a5;opacity:1;transform:rotate(0deg);transition:.3s ease-in-out}
.btn_side span:nth-child(even){left:calc(50% + 1px);}
.btn_side span:nth-child(odd){left:calc(50% - 14px);}
.btn_side span:nth-child(1),.btn_side span:nth-child(2){top:21px}
.btn_side span:nth-child(3),.btn_side span:nth-child(4){top:30px}
.btn_side span:nth-child(5),.btn_side span:nth-child(6){top:39px}

.btn_side.open{background: #8352a5}
.btn_side.open span{background: #fff}
.btn_side.open span:nth-child(1),.btn_side.open span:nth-child(6){transform:rotate(45deg)}
.btn_side.open span:nth-child(2),.btn_side.open span:nth-child(5){transform:rotate(-45deg)}
.btn_side.open span:nth-child(1){left:calc(50% - 12px);top:25px}
.btn_side.open span:nth-child(2){left:calc(50% - 2px);top:25px}
.btn_side.open span:nth-child(3){left:-50%;opacity:0}
.btn_side.open span:nth-child(4){left:100%;opacity:0}
.btn_side.open span:nth-child(5){left:calc(50% - 12px);top:36px}
.btn_side.open span:nth-child(6){left:calc(50% - 2px);top:36px}

#fct_sp{display: none;background: #8352a5;height: 60px;width: 100%;justify-content: center;align-items: center;padding: 5px;position: fixed;bottom: -120px;left: 0;z-index: 999;box-sizing: border-box;transition: all ease 0.5s;}
#fct_sp.active{bottom: 0;}
#fct_sp p{margin:0 6px 0 0;}
#fct_sp p:last-child{margin-right: 0}
#fct_sp p a{background: #fff;height: 50px;display: flex;justify-content: center;align-items: center;width: 100%;color: #8352a5}
#fct_sp p a img{margin-right: 5px}
#fct_sp .tel{width: calc(40% - 4px)}
#fct_sp .mail{width: calc(30% - 4px)}
#fct_sp .map{width: calc(30% - 4px)}

#btn_top{position:fixed;right: 15px;bottom: 90px;z-index: 9;cursor: pointer;box-sizing: border-box;margin-bottom: 0;display: none;}
#btn_top:hover{opacity: 0.7;}
/*==========================================================================*/
/*                               ALL                                        */
/*==========================================================================*/
/* FONT PAGE  */
.sp{display: none;}
.pc{display: block;}


/* FIX FONT + PADDING */
.pdb30{padding: 0 0 30px}
.pdb50{padding: 0 0 50px;}
.mgb0{margin-bottom: 0;}
.mgb30{margin-bottom: 30px;}
.mgb50{margin-bottom: 50px;}
.fs12{font-size: 12px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}

.btn{text-align: center;display: block;margin:0 auto;}
.btn a{position: relative;text-align: center;color: #fff;width: 260px;height: 50px;background: #073265;font-size: 16px;text-decoration: none;display: flex;justify-content: center;align-items: center;margin:0 auto;box-sizing: border-box;transition:  all ease 0.3s;}
.btn a:hover{background: #101010;color:#fff;}

/*==========================================================================*/
/*                               Main                                       */
/*==========================================================================*/
#main{position: relative;z-index: 2}
.inner01{width: 1640px;margin: 0 auto;max-width: 100%;}
.inner02{width: 1290px;margin: 0 auto;max-width: 100%;}
.inner03{width: 1536px;margin: 0 auto;max-width: 100%;}
.inner04{width: 1334px;margin: 0 auto;max-width: 100%;}
.inner05{width: 865px;margin: 0 auto;max-width: 100%;}
.inner06{width: 1200px;margin: 0 auto;max-width: 100%;}
.inner07{width: 1334px;margin: 0 auto;max-width: 100%;}
.inner08{width: 1600px;margin: 0 auto;max-width: 100%;}
.inner09{width: 1243px;margin: 0 auto;max-width: 100%;}
.inner10{width: 1334px;margin: 0 auto;max-width: 100%;}
.ttl{}
.ttl h3{line-height: 1.4em;font-size: 30px;color:#073265;margin-bottom: 0px;}
.ttl p{font-size: 16px;font-weight: bold;letter-spacing: 0.075em}
/*color01:     #141b2b        */
/*color01:     #232e42        */
/*
141B2A
242E43
435474
D5AD58
B58B32
*/

/*section01*/
.section_01{background: #141b2b;}
.section_01_bx{display: flex;}
.sec_txt{font-family:"Noto Sans JP", sans-serif;color: #fff;line-height: 3.3em;font-size: 18px;margin-bottom: 30px;}
.section_01_l{width: 560px; margin-right: 133px;}
.section_01_r{width: calc(100% - 693px);}
.sec01_img{position: relative;}

/*end section 01*/

/*contact*/
.contact{background: #232e42;padding: 74px 0 78px 0;}
.contact_item_bx{text-align: center;}
.contact_bx{display: flex;align-items: center;}
.contact_txt{font-weight: 100;font-size: 18px;color: #fff;padding-bottom: 5px;}
.contact_phone a{font-family: 'Josefin Sans', sans-serif;font-size: 45px;color: #fff;position: relative;letter-spacing: 0.1em;line-height: 1.2em;}
.contact_phone_ico{position: relative;top: -6px;padding-right: 10px;left: 4px;}
.contact_phone{margin-bottom: 0;}
.contact_h{font-size: 15px;color: #fff;letter-spacing: 0.8px;}
.contact_link01{font-size: 18px;font-weight: 400;color: #fff;position: relative;margin-bottom: 26px;letter-spacing: -1px;}
.contact_link01:before{position: absolute;content: "";width: 0;height: 0;border-style: solid;border-width: 6px 5px 0 5px;border-color: #d5ad56 transparent transparent transparent;left: 50%;transform: translateY(-50%);bottom:-17px;}
.contact_link01_sub01{color: #D5AD58;}
.contact_link02{width: 100%;}
.contact_link02 a{font-size:28px;font-weight: 400;color: #fff;background: #D5AD58;border-radius: 45px;width: 100%;display: block;padding: 26px 0;font-family: "Noto Sans JP DemiLight";letter-spacing: 0.13em;}
.contact_link02:hover{box-shadow: 0px 15px 20px rgba(92, 92, 92, 0.4);transform: translateY(-7px);border-radius: 45px;}
.contact_bx .contact_item{margin-right: 20px;}
.contact_bx .contact_item:nth-child(1){margin-right: 48px;width: 424px;padding-top: 10px;}
.contact_bx .contact_item:nth-child(2){width: 360px;margin-right: 20px;}
.contact_bx .contact_item:nth-child(3){width: 360px;margin-right: 20px;}
.contact_bx .contact_item:nth-child(3) a{background: #b48b31;}
.contact_bx .contact_item:last-child{margin-right: 0;width: auto;}
.contact_bx .contact_item:last-child .contact_link02 a{background: none;padding: 0;}
.contact_link02_ico{position: relative;top: -2px;left: 0;margin-right: 12px;}
.contact_ttl{font-size: 56px;color: #fff;text-align: center;font-weight: 200;margin-bottom: 84px;}
.contact_ttl_sub{color: #D5AD58;font-weight: 300;}
.contact.contact_cl{background: #141b2b;}
/*contact*/

.ama_dental_map_bx iframe{filter:grayscale(100%) !important;}
/**/
.ama_dental{background: #141b2b;}
.ama_dental_ct{display: flex;padding: 100px 0;}
.ama_dental_ct .ama_dental_l{width: 270px;margin-right: 90px;}
.ama_dental_ct .ama_dental_r{width: calc(100% - 360px);padding-top: 89px;}
.ama_dental_w_note{font-size: 15px;font-weight: 200;color: #fff;text-align: center;margin-bottom: 40px;}
.ama_dental_ls{display: flex;justify-content: center;}
.ama_dental_ls li{font-size: 18px;color: #fff;font-weight: 200;position: relative;padding-left: 20px;}
.ama_dental_ls li:before{position: absolute;content: "";width: 10px;height: 10px;background: #D5AD58;top: 50%;left: 0;transform: translateY(-50%);}
.ama_dental_ls li:first-child{margin-right: 20px;}
.ama_dental_sub{font-size: 15px;color: #fff;text-align: center;background: #242E43;padding: 13px 5px;margin-bottom: 15px;}
.logo{margin-bottom: 20px;text-align: center;}
.ama_dental_add dt, .ama_dental_add dd{font-size: 15px;font-weight: 200;color: #fff;padding: 0 8px;letter-spacing: 0.2px;line-height: 1.6em;}

/*advise_email*/
.advise_email{padding: 100px 0 27px 0;background: #141b2b;}
.advise_email_ttl{text-align: center;font-size: 56px;color:#fff;font-weight: 200;margin-bottom: 43px;}
.advise_email_ttl_sub{font-weight: 300;color: #D5AD58;font-family: "Noto Sans JP DemiLight";}
.advise_email_txt{font-size: 15px;color: #fff;text-align: center;line-height: 2em;font-weight: 200;}
.mail_open{width: 1000px;margin: 0 auto;border: 1px solid #D5AD58;padding: 58px 0 60px 0;}
.txt_open{font-size: 30px;color: #fff;text-align: center;font-weight: 300;margin-bottom: 41px;}
.txt_close{display: none;}
.open_box{max-width: 620px;margin: 0 auto;}
.advise_email_ls{padding-left: 25px;margin-bottom: 35px;}
.advise_email_ls dt, .advise_email_ls dd{font-size: 15px;}
.advise_email_ls dt{color:#D5AD58;position: relative;margin-bottom: 10px;}
.advise_email_ls dt:before{position: absolute;content: "";width: 10px;height: 10px;left: -25px;top: calc(50% - 5px);background:#D5AD58;}
.advise_email_ls dd{color: #fff;}
.advise_email_ls:last-child{margin-bottom: 0;}
.advise_email_txt_mb{margin-bottom: 52px;}
.mail_info{width: 1200px;margin: 0 auto 58px auto;border: 1px solid #D5AD58;padding: 70px 100px 99px 70px;}
.mail_contact_ttl{font-size: 30px;text-align: center;color: #D5AD58;margin-bottom: 46px;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.mail_contact_txt{font-size: 15px;font-weight: 200;line-height: 2em;margin-bottom: 53px;color: #fff;}
.advise_email_txt02{font-size: 15px;font-weight: 200;line-height: 2em;margin:13px 0 63px 0;color: #D5AD58;text-align: center;}
.mail_info_ct .mail_contact_ls:first-child{margin-bottom: 50px;}
.mail_contact_ls dt{color: #D5AD58;font-size: 16px;margin-bottom: 12px;font-weight: 300;}
.mail_contact_ls dd{color: #fff;font-size: 16px;font-weight: 200;line-height: 1.8em;}
.mail_contact_it li{font-size: 15px;font-weight: 200;line-height: 2em;}
.advise_email_btn{display: flex;justify-content: center;}
.advise_email_btn a{width: 320px;font-size: 14px;color: #fff;font-weight: 200;text-align: center;border-radius: 35px;line-height: 70px;background: #445475;display: block; position: relative;}
.advise_email_btn a:before{position: absolute;content: "";background: url("../images/ico_arrow.svg") no-repeat;width: 7px;height: 12px;right: 40px;top: calc(50% - 6px);}













/*advise_email*/


/*=========*/
.invisalign{background: #141b2b;padding: 97px 0 96px 0;}
.invisalign_ttl{font-size: 56px;color: #fff;font-weight: 200;text-align: center;margin-bottom: 42px;}
.invisalign_ttl_sub{color:#D5AD58;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.invisalign_txt{font-size: 18px;text-align: center;line-height: 2em;color: #fff;font-weight: 200;margin-bottom: 70px;}
.invisalign_frame{background: #232e42;padding: 70px 94px;margin-bottom: 90px;}
.invisalign_ls{display: flex;flex-wrap: wrap;}
.invisalign_ls li{color: #fff;position: relative;width: calc((100% - 40px) / 3);margin-right: 20px;font-size: 18px;font-weight: 200;line-height: 2em;padding-left: 25px;margin-bottom: 10px;}
.invisalign_ls li:nth-child(3n+3){margin-right: 0;}
.invisalign_ls li:before{position: absolute;content: "";width: 10px;height: 10px;left: 0;top: calc(50% - 5px);background: #D5AD58;}
.invisalign_ttl02{font-size: 40px;text-align: center;color: #fff;font-weight: 200;line-height: 1.5em;}
.invisalign_ttl02_sub02{font-weight: 300;color: #D5AD58;position: relative;font-family: "Noto Sans JP DemiLight";}
.invisalign_ttl02_subct{position: relative;}
.invisalign_ttl02_sub01{position: absolute;content: "";top: -40px;left: 50%;transform: translateX(-50%);font-size: 18px;font-weight: 200;width: 100%;letter-spacing: 0.5em;}



/*==========*/

.greeting{background: url("../images/greeting_bg_img.jpg") no-repeat;background-size: cover;padding: 100px 0;}
.greeting_ttl{text-align: center;font-size: 56px;color: #141B2A;font-weight: 200;margin-bottom: 50px;}
.greeting_ttl_sub{font-weight: 300;color: #B58B32;font-family: "Noto Sans JP DemiLight";}
.greeting_ct{display: flex;}
.greeting_l{width: 500px;margin-right: 90px;}
.greeting_r{width: calc(100% - 590px);}
.greeting_img{margin-bottom: 24px;}
.greeting_txt_au{font-size: 18px;font-weight: 200;text-align: right;}
.greeting_au{text-align: right;margin-bottom: 26px;}
.greeting_au_sub01{font-size: 18px;font-weight: 200;}
.greeting_au_sub02{font-size: 30px;font-weight: 300;padding-left: 15px;}
.greeting_txt{font-size: 15px;font-weight: 200;line-height: 2em;}
.greeting_ttl02{font-size: 48px;color: #141B2A;line-height: 1.625em;font-weight: 200;margin-bottom: 6px;position: relative;top: -19px;left: -30px;}
.greeting_ttl02_sub01{color: #B58B32;font-weight: 300;letter-spacing: -0.1em;font-family: "Noto Sans JP DemiLight";}
.greeting_img02{margin: 65px 0 0 50px;}


/*======*/

.price{padding: 84px 0 98px 0;background: #141b2b;}
.price_bx{margin-bottom: 108px;}
.price_ttl01{text-align: center;font-weight: 200;color: #fff;font-size: 56px;line-height: 1.42em;margin-bottom: 33px;}
.price_ttl01_sub01{font-weight: 300;color: #B58B32;font-family: "Noto Sans JP DemiLight";}
.price_txt{font-size: 15px;text-align: left;line-height: 2em;color: #fff;font-weight: 200;max-width: 1000px;margin: 0 auto 70px auto;}
.price_bx01{display: flex;}
.price_bx01_l{width: 400px;margin-right: 144px;position: relative;}
.price_bx01_l:before{position: absolute;content: "";background: url("../images/price_ico.png") no-repeat;width: 65px;height: 65px;right: -100px;top: calc(50% - 46px);}
.price_ct01{border: 1px solid #d5ad58;padding:60px 46px 44px 42px;margin-bottom: 35px;}

.price_ct01_note{margin-bottom: 5px;}
.price_ct01_note_sub{background: #b48b31;font-size: 30px;font-weight: 200;text-align: center;width: 240px;padding: 11px 0;display: block;color: #fff;margin: 0 auto;}
.list_price01{max-width: 214px;margin: 0 auto;}
.list_price01 li{font-size: 20px;color: #fff;padding-left: 20px;margin-bottom: 0;font-weight: 300;position: relative;line-height: 2.5em;letter-spacing: -0.1em;}
.list_price01 li:before{position: absolute;content: "";width: 10px;height: 10px;left: 0;top: calc(50% - 5px);background: #D5AD58;}
.price_ico_p{font-size: 56px;color: #D5AD58;font-weight: 200;text-align: center;line-height: 1.2em;margin-bottom: 0;}
.price_txt01{text-align: center;}
.price_txt01_sub01{font-size: 28px;font-weight: 200;color: #fff;line-height: 2.2em;}
.price_txt01_sub02{font-family: 'Josefin Sans Light', sans-serif;font-weight: 300;font-size: 74px;line-height: 1em;color: #D5AD58;letter-spacing: 2px;}
.price_txt01_sub03{font-weight: 200;color: #fff;font-size: 30px;padding-left: 10px;}
.price_txt02{font-size: 15px;color: #fff;line-height: 2em;font-weight: 200;}
.price_bx01_r{width: calc(100% - 544px);}
.price_bx01_bx{text-align: center;display: flex;flex-wrap: wrap;position: relative;}
.price_bx01_it:nth-child(1){width: 300px;background: #b48b31;position: absolute;margin: 0;top: 48%;left: 50%;transform: translate(-50%, -48%);}
.price_bx01_it{width: calc((100% - 26px) / 2);margin: 0 26px 30px 0;text-align: center;}
.price_bx01_it:nth-child(3), .price_bx01_it:nth-child(5){margin-right: 0;}
.price_bx01_it:nth-child(1){}
.price_bx01_it:nth-child(2){background: #232e42;}
.price_bx01_it:nth-child(3){background: #3b465c;}
.price_bx01_it:nth-child(4){background: #566079;}
.price_bx01_it:nth-child(5){background: #697486;}
.price_bx01_it:nth-child(2), .price_bx01_it:nth-child(3), .price_bx01_it:nth-child(4), .price_bx01_it:nth-child(5){min-height: 400px;display: flex;flex-direction: column;justify-content: center;}
.price_txt03{font-size: 18px;text-align: center;font-weight: 200;line-height: 1.6em;color: #fff;margin-bottom: 25px;}
.price_txt04{text-align: center;margin-bottom: 30px;}
.price_txt04_sub01{font-size: 30px;color: #D5AD58;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.price_txt04_sub02{font-size: 14px;color: #fff;font-weight: 200;}
.price_txt05_sub02{font-family: 'Josefin Sans', sans-serif;font-weight: 300;font-size: 74px;line-height: 1em;color: #D5AD58;letter-spacing: 2px;}
.price_txt05_sub01{font-size: 20px;font-weight: 200;color: #fff;}
.price_item_txt{font-size: 40px;color: #fff;text-align: center;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.price_item{padding: 15px 0;}
.price_item_sub{font-size: 13px;color: #fff;font-weight: 200;}
.payment_ttl{font-size: 42px;text-align: center;font-weight: 200;line-height: 1.5em;color: #fff;margin-bottom: 40px;}
.payment_ttl_sub{font-weight: 300;color: #D5AD58;font-family: "Noto Sans JP DemiLight";}
.payment_ct{display: flex;flex-wrap: wrap;padding: 0 67px;margin-bottom: 95px;}
.payment_it{width: calc((100% - 40px) / 2);margin-right: 40px;}
.payment_it:last-child{margin-right: 0;}
.payment_ct .payment_it{}
.payment_sub01{font-size: 20px;color: #fff;font-weight: 200;text-align: center;margin-bottom: 36px;}
.payment_sub02{color: #D5AD58;font-weight: 300;font-family: "Noto Sans JP DemiLight";padding: 0 5px;}
.payment_fr{padding: 50px 70px;border:1px solid #D5AD58;margin-bottom: 14px;}
.payment_it_sub{font-size: 74px;color:#D5AD58;font-family: 'Josefin Sans', sans-serif;font-weight: 300;position: relative;}
.payment_list{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.payment_list_it_ico{font-size: 40px;font-weight: 200;text-align: center;color: #fff;padding: 0 10px;}
.payment_list_it_sub{position: relative;line-height: 3em;margin: 20px 0;}
.payment_list_it_sub:before{position: absolute;content: "月々";font-size: 18px;font-weight: 200;top: -30px;left: 0;color: #fff;line-height: 1em;}
.payment_list_it_sub:after{position: absolute;content: "円(税込)";font-size: 18px;font-weight: 200;bottom: -15px;right: 0;color: #fff;line-height: 1em;}
.payment_it_sub02{font-size: 18px;color: #fff;font-weight: 200;padding-left: 10px;}
.payment_txt{font-size: 14px;color: #fff;line-height: 2em;font-weight: 200;}
.payment_btn a{width: 400px;font-size: 14px;color: #fff;font-weight: 200;text-align: center;border-radius: 35px;line-height: 70px;background: #445475;display: block; position: relative;margin: 0 auto;}
.payment_btn a:before{position: absolute;content: "";background: url("../images/ico_arrow.svg") no-repeat;width: 7px;height: 12px;right: 40px;top: calc(50% - 6px);}
/**/

/*case*/
.case{background: #141b2b;padding: 80px 0 62px 0;}
.case_ttl01{text-align: center;font-weight: 200;color: #fff;font-size: 56px;line-height: 1.42em;margin-bottom: 35px;}
.case_ttl01_sub01{font-weight: 300;color: #B58B32;font-family: "Noto Sans JP DemiLight";}
.case_txt{font-size: 15px;text-align: left;line-height: 2em;color: #fff;font-weight: 200;max-width: 1000px;margin: 0 auto 70px auto;}
.case_frame{}

.case_bx_frame{background: #232e42;padding: 72px 150px 64px 150px;margin-bottom: 40px;}
.case_num{font-family: 'Josefin Sans', sans-serif;font-weight: 200;line-height: 1em;color: #fff;text-align: center;font-size: 30px;margin-bottom: 10px;}
.case_ttl02{font-size: 42px;font-weight: 200;text-align: center;color: #fff;margin-bottom: 17px;}
.case_sub{font-size: 18px;text-align: center;font-weight: 300;color: #B58B32;margin-bottom: 36px;}
.case_list{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.case_it{width: calc((100% - 100px) / 2);margin-right: 100px;position: relative;}
.case_it:last-child{margin-right: 0;}
.case_it:nth-child(1):before{position: absolute;content: "";width: 0;height: 0;border-style: solid;border-width: 10.5px 0 10.5px 12px;border-color: transparent transparent transparent #D5AD58;top: calc(50% - 30px);right:-55px;}
.case_img{margin-bottom: 33px;}
.case_sub02{font-family: 'Josefin Sans', sans-serif;font-weight: 300;line-height:1em;color: #fff;text-align: center;font-size: 20px;}
.case_info{display: flex;flex-wrap: wrap;justify-content: center;color: #fff;margin-bottom: 64px;}
.case_info_it{width: 100%;display: flex;margin-bottom: 25px;align-items: center;}
.case_info_list{width: calc(100% / 2);display: flex;line-height: 2em;flex-direction: column;}
.case_info_it dt{width: 107px;font-size: 16px;color: #fff;font-weight: 200;}
.case_info_it dd{width: calc(100% - 112px);color: #fff;font-weight: 200;font-size: 14px;border-left: 1px solid #fff;padding: 3px 0 3px 30px;}
.case_info.mb0{margin-bottom: 0;}
/*case*/
.reason{padding: 87px 0 96px 0;background:#141b2b;}
.reason05{width: 100%;background: #141b2b;padding: 79px 0;position: relative;z-index: 1;}
.reason05:before{position: absolute;content: "";width: 1552px;height: 450px;background: #232e42;top: 0;left: 0;z-index: -1;}
.reason05_ct{display: flex;}
.reason05_it{width: calc((100% - 99px) / 2);margin-right: 99px;}
.reason05_it:last-child{margin-right: 0;}
.reason05_ttl_sub{font-size: 30px;font-family: 'Josefin Sans', sans-serif;position: relative;color: #fff;line-height: 2.2em;font-weight: 200;padding-bottom: 0px;text-align: center;margin-bottom: 36px;}
.reason05_ttl_sub01:before{position: absolute;content: "";width: 100px;height: 1px;background:#D5AD58;bottom: 0;left: calc(50% - 50px);}
.reason05_ttl02{font-size: 42px;line-height: 1.5em;text-align: center;color: #fff;font-weight: 200;margin-bottom: 30px;}
.reason05_ttl02_sub{color: #D5AD58;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.reason05_img{margin-bottom: 30px;}
.reason05_txt{font-size: 15px;color: #fff;font-weight: 200;line-height: 2em;}







.reason01_ttl{font-size: 56px;font-weight: 200;color: #fff;text-align: center;margin-bottom: 90px;line-height: 1.4em;}
.reason_ttl_sub01{font-weight: 300;color:#D5AD58;font-family: "Noto Sans JP DemiLight";}
.reason01_ttl_sub{margin-bottom: 60px;}
.reason01_ttl_sub01{font-size: 30px;font-family: 'Josefin Sans', sans-serif;position: relative;color: #fff;line-height: 2.3em;font-weight: 300;letter-spacing: 0.7px;}
.reason01_ttl_sub01:before{position: absolute;content: "";width: 200px;height: 1px;background:#D5AD58;top: 50%;right: -224px;}
.reason01_ttl02{font-size: 56px;color: #fff;font-weight: 200;line-height: 1.4em;margin-bottom: 50px;letter-spacing: -0.1em;}
.reason01_ttl02_sub{color: #D5AD58;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.reason_txt{font-size: 15px;color: #fff;font-weight: 200;line-height: 1.5em;}
.reason01_ct01 .reason01_it:nth-child(1), .reason01_ct01 .reason01_it:nth-child(2), .reason01_ct01 .reason01_it:nth-child(4){width: 700px;}
.reason01_ct01{position: relative;margin-left: auto;display: flex;align-items: center;margin-bottom: 80px;}
.reason01_ct01 .reason01_it:nth-child(3){position: absolute;right: 0;top: 0;}
.reason01_bx{width: 100%;}
.reason01_l{margin-right: 100px;width: 700px;margin-left: 150px;}
.reason01 .reason01_r{width: 1000px;height: 620px;background: url("../images/idx_img08.jpg") no-repeat;background-size: cover;}

.reason01_bx02{display: flex;width: 1595px;margin: 0 auto;align-items: center;}
.reason01_bx02 .reason01_bx02_l{width: 620px;margin-right: 160px;}
.reason01_bx02 .reason01_bx02_r{width: calc(100% - 780px);max-width: 715px;}


.reason02{position: relative;z-index: 1;}
.reason02:before{position: absolute;content: "";width: 1549px;top: 150px;right:0;background: #232e42;z-index: -1;height: 100%;}
.reason02_bx{position: relative;width: 100%;}
.reason02_logo{text-align: right;width: 100%;position: relative;top: 0;right: 130px;}
.reason02_ttl_sub01{font-size: 30px;font-family: 'Josefin Sans', sans-serif;position: relative;color: #fff;line-height: 2.3em;font-weight: 300;letter-spacing: 0.7px;}
.reason02_ttl_sub01:before{position: absolute;content: "";width: 200px;height: 1px;background:#D5AD58;top: 50%;right: -220px;}
.reason02_ttl02{font-size: 56px;color: #fff;font-weight: 200;line-height: 1.4em;margin-bottom: 50px;letter-spacing: -0.1em;}
.reason02_ttl02_sub{color: #D5AD58;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.reason02_ct02{position: relative;margin-right: auto;display: flex;align-items: center;margin-bottom: 80px;}
.reason02_ct02 .reason02_l{width: 1000px;margin-right: 120px;height: 620px;background: url("../images/idx_img11.jpg") no-repeat top right;background-size: cover;}
.reason02_ct02 .reason02_r{margin-right: 7.85%;}

.reason02_txt{font-size: 15px;color: #fff;font-weight: 200;line-height: 1.5em;max-width: 690px;}
.reason02_bx02{width: 1616px;margin: 0 auto;display: flex;align-items: center;}
.reason02_bx02 .reason02_bx02_l{width: 620px;order: 2;margin-left: 150px;}
.reason02_bx02 .reason02_bx02_r{order: 1;width: 840px;padding-left: 150px;}

/*reason03*/
.reason03{padding: 200px 0 100px 0;margin-top: 103px;}
.reason03_ttl_sub01{font-size: 30px;font-family: 'Josefin Sans', sans-serif;position: relative;color: #fff;line-height: 2.3em;font-weight: 200;}
.reason03_ttl_sub01:before{position: absolute;content: "";width: 200px;height: 1px;background:#D5AD58;top: 50%;right: -230px;}
.reason03_ttl02{font-size: 56px;color: #fff;font-weight: 200;line-height: 1.4em;margin-bottom: 50px;letter-spacing: -0.1em;}
.reason03_txt{font-size: 15px;color: #fff;font-weight: 200;line-height: 1.5em;}
.reason03_ct .reason03_it:nth-child(1), .reason03_ct .reason03_it:nth-child(2), .reason03_ct .reason03_it:nth-child(4){width: 700px;}
.reason03_ct{position: relative;margin-left: auto;display: flex;align-items: center;margin-bottom: 50px;}
.reason03_ct .reason03_it:nth-child(3){position: absolute;right: 0;top: 0;}
.reason03_bx{width: 100%;}
.reason03_l{margin-right: 100px;padding-left: 150px;}
.reason03_ttl02_sub{color: #D5AD58;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.reason03_r{width: 1000px;height: 620px;background:url("../images/idx_img13.jpg") no-repeat top left;background-size: cover;}



/*reason04*/
.reason04{margin-bottom: 150px;}
.reason04_ct{position: relative;margin-right: auto;display: flex;align-items: center;margin-bottom: 80px;}
.reason04_ttl_sub01{font-size: 30px;font-family: 'Josefin Sans', sans-serif;position: relative;color: #fff;line-height: 2.3em;font-weight: 200;}
.reason04_ttl_sub01:before{position: absolute;content: "";width: 200px;height: 1px;background:#D5AD58;top: 50%;right: -230px;}
.reason04_ttl02{font-size: 56px;color: #fff;font-weight: 200;line-height: 1.4em;margin-bottom: 50px;letter-spacing: -0.1em;}
.reason04_ttl02_sub{color: #D5AD58;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.reason04_bx .reason04_l{order: 2;margin-left: 118px;margin-right: 160px;}
.reason04_bx .reason04_r{order: 1;width: 1000px;height: 620px;background: url("../images/idx_img14.jpg") no-repeat top right;background-size: cover;}


.reason04_txt{font-size: 15px;color: #fff;font-weight: 200;line-height: 1.5em;max-width: 690px;}
/*end reason04*/

/*=============orthodontic===================*/

.orthodontic{background:#141b2b;padding: 112px 0 89px 0;}
.orthodontic_ttl01_sub01{position: relative;}
.orthodontic_ttl01_sub02{position: absolute;content: "";top: -19px;left: 50%;transform: translateX(-50%);font-size: 18px;font-weight: 200;width: 100%;letter-spacing: 0.5em;line-height: 1.4em;}
.orthodontic_ttl01{font-size: 56px;color: #fff;font-weight: 200;text-align: center;line-height: 1.5em;letter-spacing: -2px;}
.orthodontic_ttl01_sub03{color: #D5AD58;font-weight: 300;font-family: "Noto Sans JP DemiLight";}
.orthodontic_ttl01{margin-bottom: 26px;}
.orthodontic_txt{max-width: 1000px;margin: 0 auto;font-size: 15px;color: #fff;font-weight: 200;line-height: 2em;margin-bottom: 73px;}
.orthodontic_bx02{display: flex;}
.orthodontic_bx02_it{width: calc(100% / 2);}
.orthodontic_bx02_it:nth-child(1){background: url("../images/idx_img06.jpg") no-repeat;background-size: cover;padding:72px 35px 50px 310px;}
.orthodontic_bx02_it:nth-child(2){background: url("../images/idx_img07.jpg") no-repeat;background-size: cover;padding:73px 270px 48px 35px;}
.orthodontic_ttl02{font-size: 56px;color: #000;text-align: center;font-weight: 200;letter-spacing: -0.1em;margin-bottom: 29px;line-height: 1.4em;}
.orthodontic_ttl02_sub01{font-weight: 400;font-family: "Noto Sans JP DemiLight";}
.orthodontic_list01 li{font-size: 15px;font-weight: 300;line-height:2.3em;position: relative;padding-left: 20px;}
.orthodontic_list01 li:before{position: absolute;content: "";width: 10px;height: 10px;left: 0;top: 13px;background: #000;}
.orthodontic_ttl02_sub01.orthodontic_ttl03_sub01{color: #D5AD58;font-family: "Noto Sans JP DemiLight";}
.orthodontic_bx03{padding: 141px 0 0 0;position: relative;}
.orthodontic_bx03:before{position: absolute;content: "";width: 0;height: 0;border-style: solid;border-width: 18px 18px 0 18px;border-color: #d5ad58 transparent transparent transparent;left: 50%;transform: translateX(-50%);top: 50px;}
.orthodontic_bx03_ttl01{font-size: 70px;text-align: center;color: #fff;font-weight: 200;margin-bottom: 60px;}

.orthodontic_bx03_ttl01_sub01{font-weight: 300;color:#D5AD58;font-family: "Noto Sans JP DemiLight";}
.orthodontic_bx03_ttl02{font-size: 50px;text-align: center;color: #fff;font-weight: 200;margin-bottom: 28px;line-height: 1.6em;letter-spacing: 0.1em;}
.orthodontic_bx03_ttl02_sub01{font-weight: 300;color: #D5AD58;font-family: "Noto Sans JP DemiLight";}
.orthodontic_txt.mb0{margin-bottom: 0;}
.orthodontic_bx02 .orthodontic_bx02_it:nth-child(2) .orthodontic_list01 li:before{background: #d5ad58;}
/*disjointed*/
.disjointed{background: url("../images/disjointed_bg.png") no-repeat;background-size: cover;padding: 87px 0 102px 0;}
.disjointed_ttl{font-size: 56px;font-weight: 200;line-height: 1.4em;color: #fff;letter-spacing: -3px;margin-bottom: 31px;}
.disjointed_ttl_sub01{font-weight: 300;line-height: 1.4em;color: #D5AD58;letter-spacing: -1px;font-family: "Noto Sans JP DemiLight";}
.disjointed_bx{width: 100%;display: flex;}
.disjointed_l{width: 550px;}
.disjointed_r{width: calc(100% - 550px);}
.disjointed_txt01{font-size: 15px;color: #fff;line-height: 2em;font-weight: 200;margin-bottom: 84px;}
.disjointed_ttl02{font-size: 36px;font-weight: 200;color: #fff;text-align: center;line-height: 1.55em;margin-bottom: 10px;}
.disjointed_ttl02_sub{font-weight: 300;color: #D5AD58;letter-spacing: 1px;font-family: "Noto Sans JP DemiLight";}
.disjointed_r_bx_ct{display: flex;flex-wrap: wrap;justify-content: center;}

.disjointed_r_it{width: 372px;height: 372px;background: url("../images/disjointe_bg_ico.png") no-repeat;background-size: cover;display: flex;flex-direction: column;justify-content: center;}
.disjointed_r_bx .disjointed_r_it:nth-child(1){max-width: 372px;width: 100%;margin-bottom: 36px;margin-top: 5px;}
/*.disjointed_r_bx .disjointed_r_it:nth-child(2), .disjointed_r_bx .disjointed_r_it:nth-child(3){width: calc((100% - 44px) / 2);margin-right: 44px;}*/

.disjointed_r_bx .disjointed_r_bx_ct:nth-child(2){flex-wrap: nowrap;}
.disjointed_r_bx .disjointed_r_bx_ct:nth-child(2) .disjointed_r_it:nth-child(1){margin-right: 40px;}
.disjointed_r_bx .disjointed_r_bx_ct:nth-child(2) .disjointed_r_it .disjointed_ttl02{margin-top: 18px;}














.disjointed_r_bx .disjointed_r_it:last-child{margin-right: 0;}
.disjointed_txt{font-size: 15px;color: #fff;line-height: 2em;font-weight: 200;max-width: 305px;margin: 0 auto;}




/*=============orthodontic===================*/


/*treatment*/
.treatment{background: #141b2b;padding: 165px 0 100px 0;}
.treatment_bx{display: flex;margin: 0 auto;}
.treatment_l{width: 700px;height: 900px;background: url("../images/idx_img03.jpg") no-repeat;background-size: cover;margin-right: 200px;background-position: top right;}
.treatment_r{width: 900px;margin-right: 223px;}



.treatment_ttl{font-size: 56px;color: #fff;line-height:1.45em;font-weight: 200;margin-bottom: 32px;letter-spacing: 3px;position: relative;font-family: "Noto Sans JP Thin";}
.treatment_ttl:before{position: absolute;content: "";background:url("../images/idx_treament_ico.png") no-repeat;width: 202px;height: 202px;top: -155px;left: -141px;}
.treatment_ttl_sub02{color: #D5AD58;line-height: 1.4em;font-weight: 200;position: relative;font-family: "Noto Sans JP DemiLight";}
.treatment_ttl_sub02:before{position: absolute;content:"インビザライン";font-size: 18px;color: #fff;top: -48px;text-align: center;width: 100%;letter-spacing: 5px;letter-spacing: 11px;}
.treatment_bx02{padding-left: 6px;}
.treatment_ttl_sub01{display: none;}
.treatment_txt01{color: #fff;font-size: 15px;font-weight: 200;margin-bottom: 108px;line-height: 2em;max-width: 710px;padding-left: 6px;}
.treatment_bx01{margin-top: 89px;}
.treatment_bx02_01 dd{color: #fff;font-weight: 200;line-height: 2em;width: calc(100% - 460px);font-size: 15px;}
.treatment_bx02_01 dt{width: 390px;margin-right: 70px;}
.treatment_bx02_01{display: flex;align-items: center;}
/*treatment*/



/*==========================================================================
/*                               Footer                                     */
/*==========================================================================*/
footer{position: relative; z-index: 4;background: #141b2b;border-top: 1px solid #fff;padding: 0 0;}
footer address{text-align: center;padding:0;font-size: 14px;width: 100%;height: 95px;color: #fff;text-transform: uppercase;letter-spacing: 0.075em;display: flex;justify-content: center;align-items: center;}

/* CHORME ONLY  */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    
}

/* FIREFOX CSS */
@supports (-moz-appearance:none) and (-webkit-appearance:none)
{
  
}

/* IE STUPID CSS */
@media screen\0 {
	
}

/* EDGE 12+ CSS */
@supports (-ms-ime-align:auto) {
	
}
@media only screen and (max-width: 750px){
	.pc{display: none;}
	.sp{display: block;}
}


